<footer>
  <div>
    <div id="waterdrop"></div>
    <div class="footer-top" style="background-color: #e4f7d2">
      <div class="row" style="margin: 0.2cm 1cm">
        <footer
          class="text-center text-lg-start"
          style="
            background-image: radial-gradient(
              circle,
              #ffdb6d,
              #ffbf75,
              #ffa78c,
              #ff96a6,
              #f08fbe
            );
            color: #212529;
            border-radius: 2vw;
          "
        >
          <div class="container p-4 pb-0">
            <section class="">
              <div class="row">
                <div
                  class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3"
                  style="background-color: #e4f7d2; border-radius: 2vw"
                >
                  <div style="margin: 1vw">
                    <h6
                      class="text-uppercase mb-4 font-weight-bold"
                      style="text-decoration: underline"
                    >
                      Reseña
                    </h6>
                    <p style="color: #212529">
                      Espero hayas disfrutado de mi portfolio
                    </p>
                  </div>
                </div>

                <hr class="w-100 clearfix d-md-none" />

                <div
                  class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3"
                  style="background-color: #e4f7d2; border-radius: 2vw"
                >
                  <div style="margin: 1vw">
                    <h6
                      class="text-uppercase mb-4 font-weight-bold"
                      style="text-decoration: underline"
                    >
                      Contacto
                    </h6>
                    <p style="color: #212529">
                      <i class="fas fa-home mr-3"></i> Manresa, Barcelona,
                      España
                    </p>
                    <p style="color: #212529">
                      <i class="fas fa-envelope mr-3"></i>
                      padillajohannacarolina@gmail.com
                    </p>
                    <p style="color: #212529">
                      <i class="fas fa-phone mr-3"></i> + 34 637 031 002
                    </p>
                  </div>
                </div>
              </div>
            </section>

            <hr class="my-3" />

            <section class="p-3 pt-0">
              <div class="row d-flex align-items-center">
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                  <div class="p-3">© 2022</div>
                </div>

                <!-- <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                  <a
                    class="btn btn-outline-light m-1"
                    class="text-white"
                    role="button"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a
                    class="btn btn-outline-light m-1"
                    class="text-white"
                    role="button"
                    ><i class="fab fa-twitter"></i
                  ></a>
                  <a
                    class="btn btn-outline-light m-1"
                    class="text-white"
                    role="button"
                    ><i class="fab fa-google"></i
                  ></a>
                  <a
                    class="btn btn-outline-light m-1"
                    class="text-white"
                    role="button"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </div> -->
              </div>
            </section>
          </div>
        </footer>
      </div>
    </div>
  </div>
</footer>
