.sty-row {
  display: flex; justify-content: space-around
}

.sty-div {
  display: flex; justify-content: center;
}

.page-wrapper {
position: absolute;
bottom: 0;
width: 100%;
z-index: 11111;
top: 35px;
}

footer p,
footer strong,
footer b,
footer {
color: #212529;
}

.footer-top {
background-size: cover;
background-position: center;
font-family: "Montserrat", sans-serif !important;
padding-top: 0.5cm;
border-top: 2px dotted #e4f7d2;
}

.footer-top {
background-color: #e4f7d2;
}

.footer-bottom {
padding: 15px 0;
border-top: 2px dotted #e4f7d2;
color: #212529;
font-family: "Montserrat", sans-serif !important;
}

.footer-site-info {
font-size: 92.86%;
}

.footer-site-info {
padding-top: 10px;
}

.items a{
margin: 0 1em;
background-color: #e4f7d2;
padding: 0.5em;
border-radius: 10px;
border: 1px solid black;
}
.items{
display: flex;
flex-direction: row;
align-items: center;
} 
.facebook {
color: #4e64b5;
}

.twitter {
color: #00aced;
}
.instagram {
color: darkmagenta;
}
.youtube {
color: #c82929;
}

.wpcf7-form-control-wrap .wpcf7-form-control {
padding: 7px !important;
width: 100%;
}

.wpcf7-form-control-wrap input {
background: #1c1f2f;
overflow: hidden;
border: 1px solid #2e344d;
background-color: transparent;
border-radius: 5px;
transition: all 0.3s ease-in-out 0s;
}

.wpcf7 .wpcf7-form .contact-form-footer textarea {
height: 160px;
width: 100%;
}

.wpcf7-form-control-wrap textarea {
background: #1c1f2f;
overflow: hidden;
border: 1px solid #2e344d;
background-color: transparent;
border-radius: 5px;
transition: all 0.3s ease-in-out 0s;
}


