<!-- Barra de navegacion -->
<nav
  class="navbar navbar-expand-lg fixed-top"
  style="border: 2px solid #ffdb6d"
>
  <!-- Container de los items de la barra -->
  <div class="container-fluid">
    <!-- Logo de la barra -->
    <a
      class="navbar-brand"
      href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
    >
      <img
        src="./assets/IMG/arg.prog.png"
        alt="Logo Argentina Programa #Yo Programo"
      />
    </a>
    <!-- Funcion para que la barra sea responsiva y se junten los items en un solo icono -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Informacion de contacto -->
    <ul class="mb-lg-0" style="margin: 0 0.5cm">
      <li style="color: #212529">
        <i class="fas fa-home mr-3"></i> Manresa, Barcelona, España
      </li>
      <li style="color: #212529">
        <i class="fas fa-envelope mr-3"></i>
        padillajohannacarolina@gmail.com
      </li>
      <li style="color: #212529">
        <i class="fas fa-phone mr-3"></i> + 34 637 031 002
      </li>
    </ul>

    <!-- Grupo de items principales -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" id="li-custom">
          <a class="nav-link" aria-current="page" href="#"
            ><i class="fa-regular fa-id-card"></i> Acerca de mi</a
          >
        </li>
        <li class="nav-item" id="li-custom">
          <a
            class="nav-link"
            href="https://www.linkedin.com/in/johanna-c-padilla"
            ><i class="fa-brands fa-linkedin"></i>
            Linkedin
          </a>
        </li>
        <li class="nav-item dropdown" id="li-custom">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-circle-info"></i>
            Mas informacion
          </a>
          <ul
            class="dropdown-menu"
            aria-labelledby="navbarDropdown"
            id="ul-custom"
          >
            <li>
              <a class="dropdown-item" href="#ancla-1"
                ><i class="fa-solid fa-briefcase"></i> Experiencia</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#ancla-2"
                ><i class="fa-solid fa-graduation-cap"></i> Educacion</a
              >
            </li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <li>
              <a class="dropdown-item" href="#ancla-3"
                ><i class="fa-solid fa-laptop-file"></i> Cursos</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#ancla-4"
                ><i class="fa-solid fa-sliders"></i> Habilidades</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#ancla-5"
                ><i class="fa-solid fa-diagram-project"></i> Proyectos</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item" id="li-custom">
          <a class="nav-link" href="#ancla-6" tabindex="-1" aria-disabled="true"
            ><i class="fa-solid fa-phone"></i> Contacto</a
          >
        </li>
      </ul>
      <!-- Grupo de botones -->
      <div class="d-flex" style="margin: 0.5cm">
        <a href="#" class="btn button-custom">
          <strong><i class="fa-solid fa-house-user"></i> Inicio</strong>
        </a>
      </div>
      <form>
        <button class="btn button-custom" type="button" (click)="login()" *ngIf="!isLogged">
          <strong><i class="fa-solid fa-right-to-bracket"></i> Ingresar</strong>
        </button>
        <button class="btn button-custom" type="button" (click)="onLogOut()" *ngIf="isLogged">
          <strong><i class="fa-solid fa-right-to-bracket"></i> Cerrar sesion</strong>
        </button>
        <button class="btn button-custom" type="submit" *ngIf="isLogged" routerLink="/editarper/1">
          <strong><i class="fa-solid fa-user-pen"></i>Editar perfil</strong>
        </button>
        <!-- <button class="btn button-custom" type="submit">
          <strong><i class="fa-solid fa-user-pen"></i> Salir</strong>
        </button> -->
      </form>
    </div>
  </div>
</nav>
