<!-- Habilidades -->
<div class="bg-dark py-1" id="icono">
  <div class="text-center text-white">
    <h1>
      <i class="fa-solid fa-sliders"></i>
    </h1>
  </div>
</div>

<!-- Titulo de cursos -->
<section class="section">
  <div class="row tit-row">
    <div class="container py-5">
      <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
          <h1 class="display-4">Habilidades</h1>
          <p class="lead mb-0"></p>
        </div>
      </div>
    </div>
<!-- Tarjetas cursos -->
    <div class="container">
      <div class="row text-center">
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="rounded shadow-sm py-5 px-4 sty-tarj">
            <img
              src="./assets/IMG/ingles.jpg"
              alt=""
              width="100"
              class="img-fluid rounded-pill mb-3 img-thumbnail shadow-sm"
            />
            <h5 class="mb-0">Ingles</h5>
            <span class="small text-uppercase text-muted">Nivel: Basico</span>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="rounded shadow-sm py-5 px-4 sty-tarj">
            <img
              src="./assets/IMG/ingles.jpg"
              alt=""
              width="100"
              class="img-fluid rounded-pill mb-3 img-thumbnail shadow-sm"
            />
            <h5 class="mb-0">Ingles</h5>
            <span class="small text-uppercase text-muted">Nivel: Basico</span>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="rounded shadow-sm py-5 px-4 sty-tarj">
            <img
              src="./assets/IMG/ingles.jpg"
              alt=""
              width="100"
              class="img-fluid rounded-pill mb-3 img-thumbnail shadow-sm"
            />
            <h5 class="mb-0">Ingles</h5>
            <span class="small text-uppercase text-muted">Nivel: Basico</span>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
          <div class="rounded shadow-sm py-5 px-4 sty-tarj">
            <img
              src="./assets/IMG/ingles.jpg"
              alt=""
              width="100"
              class="img-fluid rounded-pill mb-3 img-thumbnail shadow-sm"
            />
            <h5 class="mb-0">Ingles</h5>
            <span class="small text-uppercase text-muted">Nivel: Basico</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
