.section {
  border-radius: 2vw;
  margin: 0.2cm 1cm;
  background-image: radial-gradient(
    circle,
    #ffdb6d,
    #ffbf75,
    #ffa78c,
    #ff96a6,
    #f08fbe
  );
}

/* style icono divisor de secciones */
#icono {
  border-radius: 1vw;
  margin: 1cm 1cm -0.8cm 1cm;
}
/* Style de titulo */
.tit-row {
  margin: 1cm;
  padding: 0.5cm;
  justify-content: center;
}

/* Style de tarjeta */
.sty-tarj{
    background-color: #e4f7d2
}


  /* Style iconos de edicion */
.div-edits {
  display: flex;
  justify-content: right;
}

#icon-edit {
  margin-right: 0.5vw;
  margin-top: -2vw;
  font-size: 0.7cm;
  color: green;
}

#icon-delete {
  margin-right: 1vw;
  margin-top: -2vw;
  font-size: 0.7cm;
  color: red;
}

/* Style row */
.tarj-row {
  display: flex;
  justify-content: center;
}