<!-- Cursos -->
<!-- Icono divicion de secciones -->
<div class="bg-dark py-1" id="icono">
  <div class="text-center text-white">
    <a name="ancla-3"></a>
    <h1>
      <i class="fa-solid fa-laptop-file"></i>
    </h1>
  </div>
</div>
<!-- Titulo de seccion cursos -->
<section class="section">
  <div class="row" id="div-row">
    <div class="container py-5">
      <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
          <h1 class="display-4">Cursos</h1>
          <p class="lead mb-5">
            En el ultimo año tome muchos cursos y sigo estudiando para mejorar
            dia a dia.
          </p>
        </div>
        <div class="div-button mb-0" routerLink="/nuevocur" *ngIf="isLogged">
          <button class="btn btn-dark">Ingresar Nuevo</button>
        </div>
      </div>
    </div>

    <!-- Tarjetas de cursos -->
    <div class="col-sm-3 mt-0" style="padding: 1vw" *ngFor="let Cursos of curs">
      <div class="card card-custom bg-white border-mio border-0">
        <div class="card-body sty-card">
          <h2 class="card-title">{{ Cursos.institucionC }}</h2>
          <h3 class="card-text">{{ Cursos.cursoC }}</h3>
          <div class="card-body">
            <h5 class="card-text">
              <i class="fa-solid fa-circle-info"></i> Detalles del curso
            </h5>
            <div>
              {{ Cursos.infoC }}
            </div>
          </div>
        </div>
        <div class="card-footer sty-foo">
          <!-- <a href="{{ Cursos.enlaceC }}" class="btn sty-a-foo"
            >Ver certificado</a
          > -->
          <div class="col-4 div-edits" *ngIf="isLogged">
            <button class="div-edits" routerLink="/editarcur/{{ Cursos.id }}">
              <i class="fa-solid fa-pen-to-square" id="icon-edit"></i>
            </button>
              <button class="div-edits" (click)="delete(Cursos.id)">
              <i class="fa-solid fa-delete-left" id="icon-delete"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- fin tarjeta -->
  </div>
</section>
