<div class="container vh-100 gradient-custom" *ngIf="curs">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 btn btn-secondary">
            <h2 class="fw-bold mb-2">Editar curso</h2>
            <p class="text-white-50 mb-5">
              Coloque los nuevos datos
            </p>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="institucionC">Nombre de institucion</label>
                    <input type="text" class="form-control" id="institucionC" name="institucionC" [(ngModel)]="curs.institucionC" required>
                </div>
                <div class="form-group mt-3">
                    <label for="cursoC">Nombre del curso</label>
                    <input type="text" class="form-control" id="cursoC" name="cursoC" [(ngModel)]="curs.cursoC" required>
                </div>
                <div class="form-group mt-3">
                    <label for="infoC">Descripcion</label>
                    <input type="text" class="form-control" id="infoC" name="infoC" [(ngModel)]="curs.infoC" required>
                </div>
                <button class="btn btn-success btn-lg mt-5 mb-5" >
                    Actualizar curso
                </button>
                <button class="btn btn-primary btn-lg mt-5 mb-5 ms-5" routerLink="/" >
                    Volver a inicio
                </button>
            </form>
        </div>
    </div>
</div>
