#custom-b {
    background-image: linear-gradient(to top, #ff96a6, #ffad84, #e9cb7a, #bce896, #7fffd4) !important;
    height: auto !important; 
    font-family: 'Montserrat', sans-serif !important;
}