<div class="container vh-100 gradient-custom" *ngIf="proy">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 btn btn-secondary">
            <h2 class="fw-bold mb-2">Editar proyecto</h2>
            <p class="text-white-50 mb-5">
              Coloque los nuevos datos
            </p>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreP">Nombre de proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="proy.nombreP" required>
                </div>
                <div class="form-group mt-3">
                    <label for="descripcionP">Descripcion</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="proy.descripcionP" required>
                </div>
                <button class="btn btn-success btn-lg mt-5 mb-5" >
                    Actualizar proyecto
                </button>
                <button class="btn btn-primary btn-lg mt-5 mb-5 ms-5" routerLink="/" >
                    Volver a inicio
                </button>
            </form>
        </div>
    </div>
</div>