<!-- Proyectos -->
<!-- Icono de seccion -->
<div class="bg-dark py-1" id="icono">
  <div class="text-center text-white">
    <h1>
      <a name="ancla-5"></a>
      <i class="fa-solid fa-diagram-project"></i>
    </h1>
  </div>
</div>
<!-- Titulo de proyectos -->
<section class="section">
  <div class="row tit-sec">
    <div class="container py-5">
      <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
          <h1 class="display-4">Proyectos</h1>
          <p class="lead mb-0">Dejo aqui algunos de mis proyectos</p>
        </div>
      </div>
    </div>
    <!-- Tarjetas de proyecto -->
    <div class="container">
      <div class="row" id="div-row">
        <!-- Inicio de tarjeta -->
        <div class="col-lg-4 mb-4">
          <div class="card" style="background-color: #e4f7d2">
            <img
              src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
              alt=""
              class="card-img-top"
            />
            <div class="card-body">
              <h3 class="card-title"><strong>Sunset</strong></h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum
                similique repellat a laborum, rerum voluptates ipsam eos quo
                tempore iusto dolore modi dolorum in pariatur. Incidunt
                repellendus praesentium quae!
              </p>
              <div class="row">
                <div class="col-12 div-edits">
                  <i class="fa-solid fa-pen-to-square" id="icon-edit"></i>
                  <i class="fa-solid fa-delete-left" id="icon-delete"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin de tarjeta -->
        <!-- Inicio de tarjeta -->
        <div class="col-lg-4 mb-4">
          <div class="card" style="background-color: #e4f7d2">
            <img
              src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
              alt=""
              class="card-img-top"
            />
            <div class="card-body">
              <h3 class="card-title"><strong>Sunset</strong></h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum
                similique repellat a laborum, rerum voluptates ipsam eos quo
                tempore iusto dolore modi dolorum in pariatur. Incidunt
                repellendus praesentium quae!
              </p>
              <div class="row">
                <div class="col-12 div-edits">
                  <i class="fa-solid fa-pen-to-square" id="icon-edit"></i>
                  <i class="fa-solid fa-delete-left" id="icon-delete"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin de tarjeta -->
                <!-- Inicio de tarjeta -->
        <div class="col-lg-4 mb-4">
          <div class="card" style="background-color: #e4f7d2">
            <img
              src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
              alt=""
              class="card-img-top"
            />
            <div class="card-body">
              <h3 class="card-title"><strong>Sunset</strong></h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum
                similique repellat a laborum, rerum voluptates ipsam eos quo
                tempore iusto dolore modi dolorum in pariatur. Incidunt
                repellendus praesentium quae!
              </p>
              <div class="row">
                <div class="col-12 div-edits">
                  <i class="fa-solid fa-pen-to-square" id="icon-edit"></i>
                  <i class="fa-solid fa-delete-left" id="icon-delete"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin de tarjeta -->
                <!-- Inicio de tarjeta -->
        <div class="col-lg-4 mb-4">
          <div class="card" style="background-color: #e4f7d2">
            <img
              src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
              alt=""
              class="card-img-top"
            />
            <div class="card-body">
              <h3 class="card-title"><strong>Sunset</strong></h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum
                similique repellat a laborum, rerum voluptates ipsam eos quo
                tempore iusto dolore modi dolorum in pariatur. Incidunt
                repellendus praesentium quae!
              </p>
              <div class="row">
                <div class="col-12 div-edits">
                  <i class="fa-solid fa-pen-to-square" id="icon-edit"></i>
                  <i class="fa-solid fa-delete-left" id="icon-delete"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin de tarjeta -->
                <!-- Inicio de tarjeta -->
        <div class="col-lg-4 mb-4">
          <div class="card" style="background-color: #e4f7d2">
            <img
              src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
              alt=""
              class="card-img-top"
            />
            <div class="card-body">
              <h3 class="card-title"><strong>Sunset</strong></h3>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum
                similique repellat a laborum, rerum voluptates ipsam eos quo
                tempore iusto dolore modi dolorum in pariatur. Incidunt
                repellendus praesentium quae!
              </p>
              <div class="row">
                <div class="col-12 div-edits">
                  <i class="fa-solid fa-pen-to-square" id="icon-edit"></i>
                  <i class="fa-solid fa-delete-left" id="icon-delete"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Fin de tarjeta -->
      </div>
    </div>
  </div>
</section>
