<!-- Experiencia laboral -->

<!-- Icono division de areas -->
<div class="bg-dark py-1" id="icono">
  <div class="text-center text-white">
    <a name="ancla-1"></a>
    <h1>
      <i class="fa-solid fa-briefcase"></i>
    </h1>
  </div>
</div>

<!-- Titulo de seccion "Experiencia" -->
<section class="section">
  <div class="row" id="div-row">
    <!-- Sector nuevo -->
    <!-- <div class="col-lg-2">
      <button
        type="button"
        class="btn btn-dark"
        routerLink="/nuevaexp"
        *ngIf="isLogged"
      >
        Nueva experiencia
      </button>
    </div>
    <div class="col lg 1"></div>
    <div class="col-lg-11">
      <table class="table">
        <tbody>
          <tr *ngFor="let Experiencia of expe">
            <td>{{ Experiencia.nombreE }}</td>
            <td>{{ Experiencia.descripcionE }}</td>
            <td>{{ Experiencia.empresaE }}</td>
            <td *ngIf="isLogged">
              <button
                class="btn btn-light"
                routerLink="/editarexp/{{ Experiencia.id }}"
              >
                <i class="fa-solid fa-pen-to-square" id="icon-edit"></i>Editar
              </button>
            </td>
            <td *ngIf="isLogged">
              <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                <i class="fa-solid fa-delete-left" id="icon-delete"></i>Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
    <!-- Sector nuevo -->

    <div class="container py-5">
      <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
          <h1 class="display-4">Mi experiencia laboral</h1>
          <p class="lead mb-0">
            Como podras ver mi experiencia esta basada en lo administrativo y
            atencion al cliente, pero tengo mucho talento y deseo iniciar en el
            mundo IT
          </p>
        </div>
      </div>
    </div>

    <div class="div-button mb-4" routerLink="/nuevaexp" *ngIf="isLogged">
      <button class="btn btn-dark">Ingresar Nuevo</button>
    </div>

    <!-- Tarjetas de experiencias laborales -->
    <div class="card div-exp" *ngFor="let Experiencia of expe">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title">{{ Experiencia.nombreE }}</h5>
            <p class="card-text">{{ Experiencia.empresaE }}</p>
            <p class="card-text">
              <b>Descripcion:</b> {{ Experiencia.descripcionE }}
            </p>
            <div class="row" >
              <div class="col-12 div-edits" *ngIf="isLogged">
                <button class="div-edits" routerLink="/editarexp/{{ Experiencia.id }}">
                  <i class="fa-solid fa-pen-to-square" id="icon-edit"></i>
                </button>
                  <button class="div-edits" (click)="delete(Experiencia.id)">
                  <i class="fa-solid fa-delete-left" id="icon-delete"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
