<!-- Experiencia laboral -->

<!-- Icono division de areas -->
<div class="bg-dark py-1" id="icono">
  <div class="text-center text-white">
    <h1>
      <i class="fa-solid fa-briefcase"></i>
    </h1>
  </div>
</div>

<!-- Titulo de seccion "Experiencia" -->
<section class="section">
  <div class="row" id="div-row">
    <div class="container py-5">
      <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
          <h1 class="display-4">Mi experiencia laboral</h1>
          <p class="lead mb-0">
            Como podras ver mi experiencia esta basada en lo administrativo y
            atencion al cliente, pero tengo mucho talento y deseo iniciar en el
            mundo IT
          </p>
        </div>
      </div>
    </div>

    <!-- Tarjetas de experiencias laborales -->
    <div class="card div-exp">
      <div class="row g-0">
        <div class="card-custom-avatar">
          <img class="img-fluid" src="./assets/IMG/coder.png" alt="Avatar" />
        </div>
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title">Referente de Back Office</h5>
            <p class="card-text">Galander Telecomunicaciones S.A</p>
            <p class="card-text">
              <b>Descripcion:</b> <br />
              - Supervisar las acciones logísticas <br />
              - Supervisar el ingreso y egreso a nivel país (Argentina) con su
              trazabilidad analítica, realizando diferentes informes. <br />
              - Contacto directo con proveedores logísticos, clientes como
              Movistar Arg y Personal Arg., gerentes y CEO de la empresa. <br />
              - Manejo y control del personal del área (10 personas). <br />
              <b>Otras tareas:</b> Forme parte del proceso que se llevo a cabo
              para realizar conciliación por fin del contrato con Movistar Arg.
              Conciliando 3 años de servicio mediante análisis de datos internos
              y externos. <br />
              <b>Aptitudes:</b> Análisis de datos · Multitarea · Brindar
              feedback · Comunicación · Liderazgo
            </p>
            <p class="card-text">
              <small class="text-muted">Junio 2021 - Diciembre</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card div-exp">
      <div class="row g-0">
        <div class="card-custom-avatar">
          <img class="img-fluid" src="./assets/IMG/coder.png" alt="Avatar" />
        </div>
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title">Referente de Back Office</h5>
            <p class="card-text">Galander Telecomunicaciones S.A</p>
            <p class="card-text">
              <b>Descripcion:</b> <br />
              - Supervisar las acciones logísticas <br />
              - Supervisar el ingreso y egreso a nivel país (Argentina) con su
              trazabilidad analítica, realizando diferentes informes. <br />
              - Contacto directo con proveedores logísticos, clientes como
              Movistar Arg y Personal Arg., gerentes y CEO de la empresa. <br />
              - Manejo y control del personal del área (10 personas). <br />
              <b>Otras tareas:</b> Forme parte del proceso que se llevo a cabo
              para realizar conciliación por fin del contrato con Movistar Arg.
              Conciliando 3 años de servicio mediante análisis de datos internos
              y externos. <br />
              <b>Aptitudes:</b> Análisis de datos · Multitarea · Brindar
              feedback · Comunicación · Liderazgo
            </p>
            <p class="card-text">
              <small class="text-muted">Junio 2021 - Diciembre</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card div-exp">
      <div class="row g-0">
        <div class="card-custom-avatar">
          <img class="img-fluid" src="./assets/IMG/coder.png" alt="Avatar" />
        </div>
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title">Referente de Back Office</h5>
            <p class="card-text">Galander Telecomunicaciones S.A</p>
            <p class="card-text">
              <b>Descripcion:</b> <br />
              - Supervisar las acciones logísticas <br />
              - Supervisar el ingreso y egreso a nivel país (Argentina) con su
              trazabilidad analítica, realizando diferentes informes. <br />
              - Contacto directo con proveedores logísticos, clientes como
              Movistar Arg y Personal Arg., gerentes y CEO de la empresa. <br />
              - Manejo y control del personal del área (10 personas). <br />
              <b>Otras tareas:</b> Forme parte del proceso que se llevo a cabo
              para realizar conciliación por fin del contrato con Movistar Arg.
              Conciliando 3 años de servicio mediante análisis de datos internos
              y externos. <br />
              <b>Aptitudes:</b> Análisis de datos · Multitarea · Brindar
              feedback · Comunicación · Liderazgo
            </p>
            <p class="card-text">
              <small class="text-muted">Junio 2021 - Diciembre</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card div-exp">
      <div class="row g-0">
        <div class="card-custom-avatar">
          <img class="img-fluid" src="./assets/IMG/coder.png" alt="Avatar" />
        </div>
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title">Referente de Back Office</h5>
            <p class="card-text">Galander Telecomunicaciones S.A</p>
            <p class="card-text">
              <b>Descripcion:</b> <br />
              - Supervisar las acciones logísticas <br />
              - Supervisar el ingreso y egreso a nivel país (Argentina) con su
              trazabilidad analítica, realizando diferentes informes. <br />
              - Contacto directo con proveedores logísticos, clientes como
              Movistar Arg y Personal Arg., gerentes y CEO de la empresa. <br />
              - Manejo y control del personal del área (10 personas). <br />
              <b>Otras tareas:</b> Forme parte del proceso que se llevo a cabo
              para realizar conciliación por fin del contrato con Movistar Arg.
              Conciliando 3 años de servicio mediante análisis de datos internos
              y externos. <br />
              <b>Aptitudes:</b> Análisis de datos · Multitarea · Brindar
              feedback · Comunicación · Liderazgo
            </p>
            <p class="card-text">
              <small class="text-muted">Junio 2021 - Diciembre</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
