/* Styles de seccion divicion */
#icono {
    border-radius: 1vw;
    margin: 1cm 1cm -0.8cm 1cm;
  }

/* Styles section */
.section{
    border-radius: 2vw;
    margin: 0.2cm 1cm;
    background-image: radial-gradient(
      circle,
      #ffdb6d,
      #ffbf75,
      #ffa78c,
      #ff96a6,
      #f08fbe)
}

/* Style row de experiencias */
#div-row {
    margin: 1cm;
    padding: 0.5cm;
    justify-content: center;
  }

/* Style tarjeta de educacion */
.tarj-back{
    background-color: #e4f7d2
}

.tarj-row {
  display: flex;
  justify-content: center;
}

/* Styles de icono */
.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
  }
  
  .blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
    background-image: linear-gradient(
        to bottom,
        #7fffd4,
        #b1eda1,
        #d8d782,
        #f3be7d,
        #ffa78c
      );
      color: #212529;
  }

  /* Style iconos de edicion */
  .div-edits {
    display: flex;
    justify-content: right;
  }
  
  #icon-edit {
    margin-right: 0.5vw;
    margin-top: -2vw;
    font-size: 0.7cm;
    color: green;
  }
  
  #icon-delete {
    margin-right: -2vw;
    margin-top: -2vw;
    font-size: 0.7cm;
    color: red;
  }