<div class="container vh-100 gradient-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 btn btn-secondary">
            <h2 class="fw-bold mb-2">Ingrese una nueva educación</h2>
            <p class="text-white-50 mb-5">
              Coloque los datos en los siguentes campos
            </p>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEd">Titulo obtenido.</label>
                    <input type="text" class="form-control" id="nombreEd" name="nombreEd" [(ngModel)]="nombreEd" required>
                </div>
                <div class="form-group mt-3">
                    <label for="tituloEd">Titulo y estado de (Ej: En curso)</label>
                    <input type="text" class="form-control" id="tituloEd" name="tituloEd" [(ngModel)]="tituloEd" required>
                </div>
                <button class="btn btn-success btn-lg mt-5 mb-5">
                    Agregar Educación
                </button>
                <button class="btn btn-primary btn-lg mt-5 mb-5 ms-5" routerLink="/" >
                    Volver a inicio
                </button>
            </form>
        </div>
    </div>
</div>

